h1{
    color: blue;
    background-color: rgb(171, 252, 252);
    width: 15rem;
    text-align: center;
    padding: 1rem;
    border-radius: .5em;
    border-style: double;
    border-color: blueviolet;
    border-width: 10px;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-image: url(./bim-image.jpg);
    background-image: center;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 200px;
}

*{
    margin: 2%;
}